@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
@layer utilities{
  .scroll-order::-webkit-scrollbar {
      width: 7px;
  }
  .scroll-order::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .scroll-order::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }
  .scroll-checkout::-webkit-scrollbar {
    width: 10px;
  }
  .scroll-checkout::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .scroll-checkout::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }
  .scroll-checkBill::-webkit-scrollbar {
    width: 10px;
  }
  .scroll-checkBill::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .scroll-checkBill::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }
}